<?xml version="1.0" encoding="UTF-8"?><?mso-application progid="Excel.Sheet"?>
<Workbook xmlns="urn:schemas-microsoft-com:office:spreadsheet"
          xmlns:x="urn:schemas-microsoft-com:office:excel"
          xmlns:ss="urn:schemas-microsoft-com:office:spreadsheet"
          xmlns:html="http://www.w3.org/TR/REC-html40">
  <Worksheet ss:Name="Dependencies">
    <Table>
      <Row>
        <Cell>
          <Data ss:Type="String">Name</Data>
        </Cell>
        <Cell>
          <Data ss:Type="String">Version</Data>
        </Cell>
        <Cell>
          <Data ss:Type="String">License</Data>
        </Cell>
        <Cell>
          <Data ss:Type="String">Status</Data>
        </Cell>
      </Row>
      <% @dependencies.each do |dependency| %>
      <Row>
        <Cell>
          <Data ss:Type="String"><%= dependency.name %></Data>
        </Cell>
        <Cell>
          <Data ss:Type="String"><%= dependency.version %></Data>
        </Cell>
        <Cell>
          <Data ss:Type="String"><%= dependency.license %></Data>
        </Cell>
        <Cell>
          <Data ss:Type="String"><%= dependency.status %></Data>
        </Cell>
      </Row>
      <% end %>
    </Table>
  </Worksheet>
  <Worksheet ss:Name="Licenses">
    <Table>
      <Row>
        <Cell>
          <Data ss:Type="String">Indetifier</Data>
        </Cell>
        <Cell>
          <Data ss:Type="String">Name</Data>
        </Cell>
        <Cell>
          <Data ss:Type="String">Status</Data>
        </Cell>
      </Row>
      <% @licenses.each do |license| %>
      <Row>
        <Cell>
          <Data ss:Type="String"><%= license.identifier %></Data>
        </Cell>
        <Cell>
          <Data ss:Type="String"><%= license.name %></Data>
        </Cell>
        <Cell>
          <Data ss:Type="String"><%= license.status %></Data>
        </Cell>
      </Row>
      <% end %>
    </Table>
  </Worksheet>
</Workbook>
