<% content_for :style do %>
  <style type="text/css">.ng-cloak { display: none; }</style>
<% end %>
<div id="body" class="page-container">
  <div id="content">
    <div class="page md-padding" ng-app="sqlc.licenses" ng-controller="listLicensesCtrl" id="popupContainer">
      <ul class="tabs">
        <li><a class="selected" href="<%= ApplicationController.root_context -%>/licensecheck_configuration/licenses">Licenses</a></li>
        <li><a href="<%= ApplicationController.root_context -%>/licensecheck_configuration/projects">Project Licenses</a></li>
        <li><a href="<%= ApplicationController.root_context -%>/licensecheck_configuration/mavenDependencies">Maven Dependencies</a></li>
        <li><a href="<%= ApplicationController.root_context -%>/licensecheck_configuration/mavenLicenses">Maven Licenses</a></li>
      </ul>
      <br>
      <div id="license-header">
        <header class="page-header">
          <h1 class="page-title">Licenses</h1>
          <i class="spinner hidden"></i>
          <div class="page-actions">
            <div class="button-license">
              <button ng-click="addLicense($event)" id="license-add">Add License</button>
            </div>
          </div>
          <p class="page-description">Add and administer licenses, allow or disallow globally.</p>
        </header>
      </div>
      <div id="license-search">
        <div>
          <div class="panel panel-vertical bordered-bottom spacer-bottom">
            <form id="licenses-search-form" class="search-box">
              <button id="license-search-submit" class="search-box-submit button-clean">
                                <i class="icon-search"></i>
                            </button>
              <input ng-model="searchString" id="license-search-query" class="search-box-input" type="search" name="q" placeholder="Search"
                maxlength="100">
            </form>
          </div>
        </div>
      </div>
      <div class="ng-cloak">
        <table class="data zebra" width="100%">
          <thead>
            <tr>
              <th>Identifier</th>
              <th>Name</th>
              <th>Allowed</th>
              <th>Actions</th>
            </tr>
          </thead>
          <tr ng-repeat="license in licenses | searchForLicense:searchString as filteredItems">
            <td width="20%">{{license.identifier}}</td>
            <td width="40%">{{license.name}}</td>
            <td width="20%">{{license.status}}</td>
            <td>
              <a class="icon-edit" ng-click="editLicense($event, license)" title="Edit License" data-toggle="tooltip"></a>
              <a class="icon-delete" ng-click="deleteLicense($event, license)" title="Delete License" data-toggle="tooltip"></a>
            </td>
          </tr>
          <tr ng-show="!filteredItems.length">
            <td> no licenses available</td>
            <td> </td>
            <td> </td>
            <td> </td>
          </tr>
        </table>
      </div>
    </div>
  </div>
</div>

<script src="<%= ApplicationController.root_context -%>/static/licensecheck/vendor.js"></script>
<script src="<%= ApplicationController.root_context -%>/static/licensecheck/licensecheck.js"></script>
