<h1 class="admin-page-title">License Check Configuration</h1>
&nbsp;
<ul class="tabs">
	<li><a
		href="<%= ApplicationController.root_context -%>/licensecheck_configuration/licenses">Licenses</a>
	</li>
	<li><a class="selected"
		href="<%= ApplicationController.root_context -%>/licensecheck_configuration/mavendependency">Maven Dependency Mapping</a>
	</li>
	<li><a
		href="<%= ApplicationController.root_context -%>/licensecheck_configuration/mavenlicenses">Maven License Mapping</a>
	</li>
</ul>
&nbsp;

<table class="data zebra" id="allowedLibraryTable">
	<caption>This table shows all allowed global dependencies.</caption>
	<thead>
		<tr>
			<th>Key</th>
			<th>License</th>
		</tr>
		<tr class="top">
			<% form_tag :action => 'add_dependencies' do %>
			<td><%= text_field_tag :key, nil, :placeholder=> 'Key regex',
				:size=> 20, :required=>'required' %></td>
			<td><select name="license" id="license">
					<option>Select license identifier</option> <%
					@licensesIdentifier.split(/;/).each do |identifier| %>
					<option><%= identifier -%></option> <% end %>
			</select></td>
			<td><%= submit_tag "Add Dependency"%></td> <% end %>
		</tr>
	</thead>
	<tbody>
		<% @allowedDependencies.split(/;/).each do |alloweddependency| %>
		<tr>
			<% alloweddependency.split(/~/).each do |col| %>
			<td><%= col -%></td> <% end %> <% form_tag :action =>
			'delete_dependencies' do %>
			<td><%= hidden_field_tag :alloweddependency_tag,
				alloweddependency %> <input name="commit" type="submit"
				value="Delete" style="border-color: #DF0101; color: #DF0101">
			</td> <% end %>
		</tr>
		<% end %>
	</tbody>
</table>