<%
  helper = Api::Utils.java_facade.getComponentByClassname('licensecheck', 'at.porscheinformatik.sonarqube.licensecheck.widget.WidgetHelper')
  dependencyMeasure = measure("licensecheck.dependency")
  if dependencyMeasure && !dependencyMeasure.data.blank?
    dependencies = helper.getDependencies(dependencyMeasure.data)
%>

<div>
    <table class="data zebra">
        <thead>
            <tr>
                <th>Status</th>
                <th>Name</th>
                <th>Version</th>
                <th>License</th>
            </tr>
        </thead>
        <tbody>
            <% dependencies.each do |dependency| %>
            <tr>
                <td>
                  <% if dependency.status == 'true' %>
                      <%= image_tag(url_for_static(:plugin => 'licensecheck', :path => 'ok.png'), :size => '16x16', :style => 'vertical-align:middle') -%>
                  <% elsif dependency.status == 'false' %>
                      <%= image_tag(url_for_static(:plugin => 'licensecheck', :path => 'warning.png'), :size => '16x16', :style => 'vertical-align:middle') -%>
                  <% else %>
                      <%= image_tag(url_for_static(:plugin => 'licensecheck', :path => 'error.png'), :size => '16x16', :style => 'vertical-align:middle') %>
                  <% end %>
                </td>
                <td><%= dependency.name %></td>
                <td><%= dependency.version %></td>
                <td><%= dependency.license %></td>
            </tr>
            <% end %>
        </tbody>
    </table>
    <p><br><%= image_tag(url_for_static(:plugin => 'licensecheck', :path => 'ok.png'), :size => '16x16', :style => 'vertical-align:middle') %> : License allowed</p>
    <p><%= image_tag(url_for_static(:plugin => 'licensecheck', :path => 'warning.png'), :size => '16x16', :style => 'vertical-align:middle') -%> : License not allowed </p>
    <p><%= image_tag(url_for_static(:plugin => 'licensecheck', :path => 'error.png'), :size => '16x16', :style => 'vertical-align:middle') -%> : License not found </p>
    <p><br> Export the used dependencies to a CSV file after a project scan</p>
    <p><a class="csv" href="../../licensecheck_configuration/export_used_dependencies_csv" id="export-csv-link">Export CSV</a></p>
</div>
<% else %>
<h1>No Data</h1>
<% end %>